.header {
  border-bottom: 1px solid #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  padding: 15px;
}

.header__logo {
  object-fit: contain;
  height: 40px;
}
